/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  /* align-items: center; */
  /* color: var(--color-black); */
  margin: 4px 0;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 12px;
}

#navbar__right {
  display: flex;
  /* padding: 8px 12px;
  margin: 0 4px; */
}

#weather {
  padding: 10px;
  margin: 0, 10px;
  border: solid 1px var(--color-white);
  border-radius: 4px;
}

.login__button {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: var(--size-border-radius);
}

/* Section common */
#section {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 350px;
  /* background-color: var(--color-light-grey); */
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* color: #daf6ff; */
}

#section__content {
  display: flex;
  /* background-color: #73aace; */
}

.content__left {
  flex-basis: 500px;
  height: 300px;
  align-items: center;
  line-height: 50px;
  padding: 70px 0 0 0;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.content__right {
  flex-basis: 300px;
  height: 300px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Clock */
#clock {
  /* transform: translate(-50%, -50%); */
  color: var(--color-white);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time {
  /* letter-spacing: 0.05em; */
  /* font-size: 50px; */
  /* padding: 5px 0; */
}
.date {
  /* letter-spacing: 0.1em; */
  /* font-size: 24px; */
}
.text {
  /* letter-spacing: 0.1em; */
  /* font-size: 12px; */
  /* padding: 20px 0 0; */
}

/* greeting */
#greeting {
  color: var(--color-white);
}

/* Todolist */

#todolist {
  overflow: scroll;
  /* background-color: white;
  width: 350px;
  margin-top: 20px;
  padding: 10px 40px 10px 0px;
  overflow-y: scroll; */
}

/* Bottom */
#bottom {
  text-align: center;
  margin: auto;
  width: 800px;
  height: 100px;
  line-height: 50px;
  color: var(--color-white);
}

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}
